apiVersion: v1
values:
  images:
    componentOperator: cloudogu/k8s-component-operator:1.10.1
patches:
  values.yaml:
    additionalImages:
    manager:
      image:
        registry: "{{ registryFrom .images.componentOperator }}"
        repository: "{{ repositoryFrom .images.componentOperator }}"
        tag: "{{ tagFrom .images.componentOperator }}"
