global:
  imagePullSecrets:
    - name: "ces-container-registries"
manager:
  image:
    registry: docker.io
    repository: cloudogu/k8s-component-operator
    tag: 1.12.1
  imagePullPolicy: IfNotPresent
  env:
    logLevel: info
    stage: production
    helmClientTimeoutMins: "15"
    rollbackReleaseTimeoutMins: "15"
    healthSyncIntervalMins: "2"
  resourceLimits:
    memory: 105M
  resourceRequests:
    cpu: 15m
    memory: 105M
  networkPolicies:
    enabled: true
